:root {
  --padding-left: 3rem;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

@font-face {
  font-family: "norse-bold";
  src: url("fonts/Norse-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.first-name {
  grid-area: firstname;
}

.last-name {
  grid-area: lastname;
}

.email {
  grid-area: email;
}

.phone-number {
  grid-area: phonenumber;
}

.password {
  grid-area: password;
}

.confirm-password {
  grid-area: confirmpassword;
}

body {
  display: flex;
  font-family: sans-serif, Arial, Helvetica;
}

#container-left {
  background: url(images/photo-1585202900225-6d3ac20a6962.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: auto;
}

#odin {
  text-align: center;
  font-family: "norse-bold", sans-serif;
  font-size: 6rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}

span {
  margin-top: 20px;
}

#logo {
  display: inline-block;
  width: 6rem;
  height: 8rem;
}

#container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 60vw;
}

form {
  width: 100%;
  padding-left: var(--padding-left);
}

#login {
  padding-left: var(--padding-left);
}

.info {
  font-size: min(1.5rem, 3vw);
  padding-left: var(--padding-left);
}

.info div:first-child {
  margin-bottom: 3vh;
}

.info div:last-child {
  margin-bottom: 1vh;
}

#container-form {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px; */
  grid-template-areas:
    "firstname lastname"
    "email phonenumber"
    "password confirmpassword";
  width: max(500px, 80%);
}

label {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

input {
  width: max(200px, 90%);
  margin-bottom: 10px;
}

input,
label {
  display: block;
  margin-right: 1rem;
}

button {
  margin-top: 30px;
  padding: 10px 60px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #596d48;
  border: 6px solid #596d48;
  border-radius: 10px;
  box-shadow: 15px 15px 10px -15px rgb(148, 148, 148);
}

button:hover {
  background-color: #7a9464;
  border: 6px solid #7a9464;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}

a:hover {
  color: #7a9464;
}

#login {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media (max-width: 885px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container-left {
    width: 100vw;
    height: 250px;
    margin-bottom: 30px;
    background-image: cover;
    display: flex;
    align-items: center;
  }

  #odin {
    margin-top: 10%;
    width: 100%;
  }

  #container-right {
    text-align: center;
    align-items: center;
  }

  #container-form {
    grid-template-areas:
      "firstname lastname email"
      "phonenumber password confirmpassword";
    justify-content: center;
    width: 100vw;
  }

  input,
  label {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  form {
    width: 100vw;
    padding: 0;
  }

  #login {
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 680px) {
  #container-form {
    grid-template-areas:
      "firstname lastname"
      "email phonenumber"
      "password confirmpassword";
  }

  .info {
    font-size: max(1rem, 3vw);
    width: 300px;
    padding: 0;
  }

  button {
    margin-top: 30px;
    padding: 8px 46px;
    font-size: 1rem;
  }

  #login {
    font-size: 1rem;
  }
}

@media (max-width: 460px) {
  #container-form {
    grid-template-areas:
      "firstname"
      "lastname"
      "email"
      "phonenumber"
      "password"
      "confirmpassword";
  }
}

.white-background {
  margin-left: -3rem;
  padding-left: 3rem;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 15px 10px -15px rgb(148, 148, 148);
}
